<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:p="http://primefaces.org/ui">

    <body>

        <ui:composition template="./template.xhtml">
            <ui:define name="content">
                <h1 class="h2">Departamentos</h1>

                <h:form id="frmNuevo">
                    <p:commandButton id="btnNuevo" value="Nuevo Departamento" onclick="new_depto.show()" type="button"/>
                    <p:dialog id="dlg" widgetVar="new_depto" hideEffect="true" header="#{!departamento.updateItem ? 'Nuevo Departamento' : 'Editar Departamento'}">
                        <h:panelGrid columns="2" style="margin-bottom:10px" cellpadding="5">
                            <p:outputLabel for="nombre" value="Nombre"/>
                            <p:inputText id="nombre" value="#{departamento.depto.nombre}"/>
                            <p:outputLabel for="descripcion" value="Descripcion"/>
                            <p:inputText id="descripcion" value="#{departamento.depto.descripcion}"/>
                            <p:inputText id="estado" value="#{departamento.depto.estado}" rendered="false"/>
                        </h:panelGrid>
                        <p:commandButton action="#{departamento.guardarDepto()}" value="Guardar" rendered="#{!departamento.updateItem}" update=":frmNuevo"/>
                        <p:commandButton action="#{departamento.actualizar()}" value="Editar" rendered="#{departamento.updateItem}" update=":frmNuevo"/>
                    </p:dialog>
                
                    <p:dataTable value="#{departamento.listado}" var="depto" paginator="true" rows="5" tableStyleClass="table table-responsive"
                                 paginatorPosition="bottom">
                        <p:column headerText="Nombre">
                            <p:outputLabel value="#{depto.nombre}"/>
                        </p:column>
                        <p:column headerText="Descripcion">
                            <p:outputLabel value="#{depto.descripcion}"/>
                        </p:column>
                        <p:column rendered="#{usuario.user.rol.equals('ADMIN')}">
                            <p:commandButton id="btnEditar" icon="ui-icon-edit" action="#{departamento.actualizarDepto(depto)}" update=":frmNuevo" oncomplete="new_depto.show()"/>
                        </p:column>
                        <p:column rendered="#{usuario.user.rol.equals('ADMIN')}">
                            <p:commandButton id="btnEliminar" icon="ui-icon-close" action="#{departamento.eliminarDepto(depto)}" update=":frmNuevo"/>
                        </p:column>
                    </p:dataTable>
                </h:form>
                    
            </ui:define>
        </ui:composition>
    </body>
</html>
