<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:p="http://primefaces.org/ui">

    <body>

        <ui:composition template="./template.xhtml">
            <ui:define name="content">
                <h1 class="h2">Empleados</h1>
                <h:form id="frmNuevo">
                    <p:commandButton id="btnNuevo" value="Nuevo Empleado" onclick="new_emp.show()" type="button"/>
                    <p:dialog id="dlg" widgetVar="new_emp" hideEffect="true" header="#{!empleado.updateItem ?'Nuevo Empleado': 'Editar Empleado'}">
                        <h:panelGrid columns="2" style="margin-bottom:10px" cellpadding="5">
                            <p:outputLabel for="nombre" value="Nombre"/>
                            <p:inputText id="nombre" value="#{empleado.emp.nombre}"/>
                            <p:outputLabel for="apellido" value="Apellido"/>
                            <p:inputText id="apellido" value="#{empleado.emp.apellido}"/>
                            <p:outputLabel for="cedula" value="Cedula"/>
                            <p:inputMask mask="999-9999999-9" id="cedula" value="#{empleado.emp.cedula}"/>
                            <p:outputLabel for="posicion" value="Posicion"/>
                            <p:inputText id="posicion" value="#{empleado.emp.posicion}"/>
                            <p:outputLabel for="sueldo" value="Sueldo"/>
                            <p:inputText id="sueldo" value="#{empleado.emp.sueldo}"/>
                            <p:outputLabel for="depto" value="Departamento"/>
                            <p:selectOneMenu id="depto" value="#{empleado.emp.idDepartamento}">
                                <f:selectItems value="#{departamento.itemsAvailableSelectOne}"/>
                            </p:selectOneMenu>
                            <p:inputText id="estado" value="#{empleado.emp.estado}" rendered="false"/>
                        </h:panelGrid>
                        <p:commandButton action="#{empleado.guardarEmpleado()}" value="Guardar" rendered="#{!empleado.updateItem}" update=":frmNuevo"/>
                        <p:commandButton action="#{empleado.actualizar()}" value="Guardar" rendered="#{empleado.updateItem}" update=":frmNuevo"/>
                    </p:dialog>

                    <p:dataTable value="#{empleado.listado}" var="emp" paginator="true" rows="5"
                                 tableStyleClass="table table-hover table-responsive" 
                                 emptyMessage="No hay empleados disponibles"
                                 paginatorPosition="bottom">
                        <p:column headerText="Nombre">
                            <p:outputLabel value="#{emp.nombre}"/>
                        </p:column>
                        <p:column headerText="Apellido">
                            <p:outputLabel value="#{emp.apellido}"/>
                        </p:column>
                        <p:column headerText="Cedula">
                            <p:outputLabel value="#{emp.cedula}"/>
                        </p:column>
                        <p:column headerText="Departamento">
                            <p:outputLabel value="#{emp.idDepartamento.nombre}"/>
                        </p:column>
                        <p:column  rendered="#{usuario.user.rol.equals('ADMIN')}">
                            <p:commandButton id="btnEditar" icon="ui-icon-pencil" action="#{empleado.actualizarEmpleado(emp)}" update=":frmNuevo" oncomplete="new_emp.show()"/>
                        </p:column>
                        <p:column  rendered="#{usuario.user.rol.equals('ADMIN')}">
                            <p:commandButton id="btnEliminar" icon="ui-icon-close" action="#{empleado.eliminarEmpleado(emp)}" update=":frmNuevo"/>
                        </p:column>
                    </p:dataTable>
                </h:form>
            </ui:define>

        </ui:composition>

    </body>
</html>
