<?xml version="1.0" encoding="UTF-8"?>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:p="http://primefaces.org/ui">
    <h:head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
     
        <!--<h:outputScript name="/js/jquery-1.8.3.js"/>-->
        <h:outputStylesheet name="./css/bootstrap.css"/>
        <h:outputStylesheet name="/css/custom.css"/>
        <h:outputScript name="./js/bootstrap.js"/>
        <title>Nomina</title>
    </h:head>
    <h:body>
        <div class="container">
            <h:form styleClass="form-signin">
                <h2 class="form-signin-heading">Por favor inicia sesion</h2>
                <p:outputLabel value="Usuario"/>
                <p:inputText id="usuario" value="#{usuario.username}" placeholder="Nombre de Usuario" styleClass="form-control"/>
                <p:outputLabel value="Password"/>
                <p:inputText id="pass" value="#{usuario.password}" placeholder="Password" styleClass="form-control" required="true" requiredMessage="Escriba su pass"/>
                <p:message for="pass" class="error_message"/>
                <br/>
                <p:commandButton id="btnAcceder" value="Acceder" styleClass="btn btn-lg btn-primary btn-block" action="#{usuario.autenticar()}"/>
            </h:form>
        </div>
    </h:body>
</html>
