<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:p="http://primefaces.org/ui"
      xmlns:f="http://xmlns.jcp.org/jsf/core">

    <body>

        <ui:composition template="./template.xhtml">

            <ui:define name="content">
                <h:form id="frmTable">
                    <h1 class="h2">Nomina</h1>
                    <p:dataTable value="#{empleado.listado}" var="emp" 
                                 tableStyleClass="table table-hover table-responsive"
                                 paginator="true" widgetVar="nominaTable"
                                 paginatorPosition="bottom">
                       <f:facet name="header">  
                            <p:outputPanel>  
                                <h:outputText value="Buscar por Departamento:" />  
                                <p:inputText id="globalFilter" onkeyup="nominaTable.filter()" style="width:150px" />  
                            </p:outputPanel>  
                        </f:facet>
                        <p:column headerText="Nombre Completo"> 
                            <p:outputLabel value="#{emp.nombre} #{emp.apellido}"/>
                        </p:column>
                        <p:column headerText="Departamento" filterBy="#{emp.idDepartamento.nombre}"
                                  filterMatchMode="contains">
                            <p:outputLabel value="#{emp.idDepartamento.nombre}"/>
                        </p:column>
                        <p:column headerText="Posicion">
                            <p:outputLabel value="#{emp.posicion}"/>
                        </p:column>
                        <p:column headerText="Sueldo Bruto">
                            <p:outputLabel value="#{emp.sueldo}">
                                <f:convertNumber type="currency" currencySymbol="RD$" />
                            </p:outputLabel>    
                        </p:column>
                        <p:column headerText="SFS">
                            <p:outputLabel value="#{emp.sfs}">
                                <f:convertNumber type="currency" currencySymbol="RD$" />
                            </p:outputLabel>
                        </p:column>
                        <p:column headerText="ARS">
                            <p:outputLabel value="#{emp.ars}">
                                <f:convertNumber type="currency" currencySymbol="RD$" />
                            </p:outputLabel>
                        </p:column>
                        <p:column headerText="Sueldo Neto">
                            <p:outputLabel value="#{emp.sueldoNeto}">
                                <f:convertNumber type="currency" currencySymbol="RD$" />
                            </p:outputLabel>    
                        </p:column>
                    </p:dataTable>
                </h:form>
            </ui:define>

        </ui:composition>

    </body>
</html>
