<?xml version='1.0' encoding='UTF-8' ?> 
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:p="http://primefaces.org/ui"
      xmlns:f="http://xmlns.jcp.org/jsf/core">

    <h:head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        <!--<h:outputScript name="/js/jquery-1.8.3.js"/>-->
        <h:outputStylesheet name="./css/bootstrap.css"/>
        <h:outputStylesheet name="/css/custom.css"/>
        <h:outputScript name="./js/bootstrap.js"/>
        <title>Nomina</title>
        <f:event listener="#{usuario.verificarAuth()}" type="preRenderView"></f:event>
    </h:head>

    <h:body>
<!-- Navbar -->
            <div id ="navbar" class="nav navbar-inverse navbar-static-top" role="navigation">
                <div class="container">
                    <div class ="navbar-header">
                        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                            <span class="sr-only">Toggle navigation</span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                    </div>
                    <div class="collapse navbar-collapse" rendered="#{usuario.loggedIn == true}">
                        <ul class="nav navbar-nav">
                            <li><h:link outcome="index">Inicio</h:link></li>
                            <li><h:link outcome="departamento">Departamentos</h:link></li>
                            <li><h:link outcome="empleado">Empleados</h:link></li>
                            <li><h:link outcome="nomina">Listado</h:link></li>
                        </ul>
                        <ul class="nav navbar-nav navbar-right">
                            <h:form>
                                <li style="color: white">Bienvenido <p:outputLabel value="#{usuario.username}"/> </li>
                                <li><h:commandLink action="#{usuario.logout}">Desconectarse</h:commandLink></li>
                            </h:form>
                        </ul>
                    </div>
                </div>
            </div>
        
        <div class="container">
            <ui:insert name="content">
                
            </ui:insert>
        </div>

    </h:body>

</html>
